<main class="Todo-main-page" >
    <h1 class="Todopage-title">My Todo-list</h1>
    <section class="AddTodo" style="display:flex;">
        <input class="AddTodo-text" type="text" placeholder="what's next?">
        <input class="AddTodo-date" type="date">
        <input class="AddTodo-button" type="button" value="Add">
    </section>
    <%= render partial: "todo-section", locals: { label: "Overdue", todos: Todo.overdue, show_due_date: true, flag: true } %>
    <%= render partial: "todo-section", locals: { label: "Due Today", todos: Todo.due_today, show_due_date: false, flag: false } %>
    <%= render partial: "todo-section", locals: { label: "Due Later", todos: Todo.due_later, show_due: true, flag: false } %>
</main>

