<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-app management</title>
    <link rel="stylesheet" type="text/css" href="my-app.css">
</head>
<body>
    <main style="display:flex;">
    <img class="tiger" src="tiger.jpg" />
    <div class="div1">
     
    <article>
    <h1 class="Todo-list">My Todo-list</h1>
    <section class="section">
        <h2 class="due">Due Today</h2>
        <p class="todo-item">Submit SaaS 201 Project</p>
        <p class="todo-item">Call accountant</p>        
    </section>
    <section class="section">
        <h2 class="due">Due Tomorrow</h2>
        <p>Refill groceries</p>
    </section>
    </article>
    </div>
    </main>
</body>
</html>